<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luoyuequan.mqerp.mapper.ClientInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.luoyuequan.mqerp.entity.ClientInfo">
        <id column="client_id" property="clientId" />
        <result column="client_name" property="clientName" />
        <result column="client_gender" property="clientGender" />
        <result column="client_tel" property="clientTel" />
        <result column="client_default_address" property="clientDefaultAddress" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        client_id, client_name, client_gender, client_tel, client_default_address, is_deleted, create_time, update_time
    </sql>

</mapper>
