<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luoyuequan.mqerp.mapper.ProductCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.luoyuequan.mqerp.entity.ProductCategory">
        <id column="category_id" property="categoryId" />
        <result column="category_p_id" property="categoryPId" />
        <result column="category_name" property="categoryName" />
        <result column="queue_number" property="queueNumber" />
        <result column="category_img" property="categoryImg" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id, category_p_id, category_name, queue_number, category_img, create_time, update_time, is_deleted
    </sql>

</mapper>
