<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luoyuequan.mqerp.mapper.StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.luoyuequan.mqerp.entity.Staff">
        <id column="staff_id" property="staffId" />
        <result column="staff_name" property="staffName" />
        <result column="staff_gender" property="staffGender" />
        <result column="staff_tel" property="staffTel" />
        <result column="staff_email" property="staffEmail" />
        <result column="staff_address" property="staffAddress" />
        <result column="dept_id" property="deptId" />
        <result column="is_deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        staff_id, staff_name, staff_gender, staff_tel, staff_email, staff_address, dept_id, is_deleted, create_time, update_time
    </sql>

</mapper>
